extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
   for row in colors
    li #{row.color} 
      small
        a(href='/deleteColor?id=#{row.id}') delete

  form(action='/addColor', method='post')
    span Enter a color:
    input(type="text", name="color")
    input(type="text", name="animal")
    input(type="submit")
