extends templates/layout

block content
    main
        section.about
            div.row.reverse.middle-xs.container
                div.col-xs-12 !{themeSettings.aboutDescription}
        include modules/register-cta