extends templates/layout

block content
    main
        section.about
            div.row.reverse.middle-xs.container
                div.col-xs-12 !{themeSettings.aboutDescription}
        if !access
            include modules/register-cta
        else    
            include modules/contact-cta