extends layout

block content
    main
        section
            div.row.center-xs.container.error
                div.col-xs-12.col-md-8
                    h1 #{error.status}: #{message}
                    h2 We can't find the page you're' looking for!
                    p The best thing to do now would be to check the url for errors, start again from #[a(href='/') home] or contact us and let us know something is broken!
        section.cta.contact
            div.row.center-xs.container
                div.col-xs-12.col-md-8
                    h1 Did Something Go Wrong?
                    h2 We're always here to help
                    p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
                    a(href="/contact").button.brown Contact Us