extends layout

block content
    main
        section.slider
            div.slide
                div.row.reverse.middle-xs.container
                    div.col-xs-12.col-sm
                        img(src='/img/blueberry.jpg' alt='Logo')
                    div.col-xs-12.col-sm-6
                        h1 Blueberry's Back
                        p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
                        a(href='/product').button.gold Learn More
                        a(href='/shopping-cart').button.pink Buy Now
            div.slide
                div.row.reverse.middle-xs.container
                    div.col-xs-12.col-sm
                        img(src='/img/blueberry.jpg' alt='Logo')
                    div.col-xs-12.col-sm-6
                        h1 Blueberry's Back
                        p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
                        a(href='/product').button.gold Learn More
                        a(href='/shopping-cart').button.pink Buy Now
                
        section.cta.register
            div.row.center-xs.container
                div.col-xs-12.col-md-8
                    h1 Join Today!
                    h2 Sweet rewards are just around the corner
                    p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
                    a(href="/sign-in").button.brown Register
        section.carousel
            header.row.middle-xs.container
                div.col-xs-6
                    h1 Popular Picks
                div.col-xs-6.end-xs
                    a(href='/products').button.pink See All
            div.row.container
                each product in popularProducts
                    div.col-xs-12.col-sm-6.col-md-3
                        div.product
                            img(src='/img/' + product.image1)
                            h3 #{product.title}
                            p #{product.excerpt}
                            a(href='/product/' + product.id + '/' + product.title) Learn More
        section.carousel.grey
            header.row.middle-xs.container
                div.col-xs-6
                    h1 Recently Added
                div.col-xs-6.end-xs
                    a(href='/products').button.pink See All
            div.row.container
                each product in recentProducts
                    div.col-xs-12.col-sm-6.col-md-3
                        div.product
                            img(src='/img/' + product.image1)
                            h3 #{product.title}
                            p #{product.excerpt}
                            a(href='/product/' + product.id + '/' + product.title) Learn More
        section.cta.contact
            div.row.center-xs.container
                div.col-xs-12.col-md-8
                    h1 Special Occassion?
                    h2 We're always here to help
                    p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
                    a(href="/contact").button.brown Contact Us