doctype html
html
    head
        meta(name='viewport' content='width = device-width initial-scale = 1')
        title= title
        link(rel='stylesheet' href='/css/app.css')
        link(rel='icon' href='/img/favicon.ico')
        script(type='text/javascript' src='/js/vendor.min.js')
        script(type='text/javascript' src='/js/app.min.js')
    body
        block header
            header
                div.row.middle-xs.container
                    nav.col-xs-4.col-sm-6
                        div.row.middle-xs
                            a(href='/')
                                img(src='img/logo.png' alt='Logo').logo
                            ul.primary-nav
                                li
                                    a(href='/about') About
                                li    
                                    a(href='/products') Products
                                li    
                                    a(href='/contact') Contact
                    div.col-xs-8.col-sm-6
                        ul.row.end-xs.middle-xs.secondary-nav
                            li.search
                                span.fa.fa-search
                            if access
                                if !userImage
                                    li.user
                                        a(href='/dashboard')
                                            span.fa.fa-user
                                else
                                    li(style='background-image: url(img/" + userId + "/" + userImage");').user
                                        a(href='/dashboard')
                                li.sign-out
                                    a(href='/sign-out').button.pink Sign-Out
                            else
                                li.sign-in
                                    a(href='/sign-in').button.pink Sign-In
                            li.cart
                                a(href='/shopping-cart')
                                    span.fa.fa-shopping-cart
                            li.options
                                span.fa.fa-ellipsis-v
            section.search-field
                div.row.container
                    div.col-xs-12
                        form(action='/search' method='post')
                            input(type='search' name='search' placeholder='Search for keyword...')                
            if access
                section.mobile-nav.access
                    nav.row.container
                        ul.col-xs-12.primary-nav
                            li
                                a(href='/about') About
                            li    
                                a(href='/products') Products
                            li    
                                a(href='/contact') Contact
                            li
                                a(href='/sign-out').button.pink Sign-Out
            else 
                section.mobile-nav
                    nav.row.container
                        ul.col-xs-12.primary-nav
                            li
                                a(href='/about') About
                            li    
                                a(href='/products') Products
                            li    
                                a(href='/contact') Contact
        block content
        block footer
            footer
                div.row.middle-xs.container
                    div.col-xs-6
                        ul.row.middle-xs
                            li Copyright 
                                span.fa.fa-copyright
                                span #[a(href='/') Jam Jar] 2017. Powered by #[a(href='/') Jam Jar]
                    div.col-xs-6
                        ul.row.end-xs.middle-xs
                            li
                                a(href='http://facebook.com')
                                    span.fa.fa-facebook-official
                            li
                                a(href='http://linkedin.com')
                                    span.fa.fa-linkedin
                            li
                                a(href='http://twitter.com')
                                    span.fa.fa-twitter