extends templates/layout

block content
    main
        section.products
            header.row.container
                div.col-xs-12
                    h1 All Products
            div.row.container
                each product in products 
                    div.col-xs-12.col-sm-6.col-md-3
                        div.product
                            img(src='/img/' + product.image1)
                            h3 #{product.title}
                            p #{product.excerpt}
                            a(href='/product/' + product.id + '/' + product.title) Learn More
        include modules/register-cta