extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.products
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        a(href='/admin/dashboard/add-new-product').button.pink Add
                    div.col-xs-12.col-md-8
                        if !productData
                            div.row.middle-xs.grey
                                div.col-sm-12
                                    h2 No current products...
                                    p Sorry, It doesn't look like you have added any products at the moment.
                        else
                            each product in productDetails
                                div(class=product.status === 'inactive' ? 'inactive' : '').row.middle-xs.grey
                                    div.col-sm-4.image
                                        if !product.image
                                            img(src='/img/product.jpg')   
                                        else 
                                            img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + product.image)
                                    div.col-xs-9.col-sm-6
                                        span.flex
                                            h3 #{product.title}
                                            if product.status === 'inactive'
                                                span.status (Inactive)
                                            else
                                                span.status (Active)
                                        p #{product.excerpt}
                                    div.col-xs-3.col-sm-2.right
                                        a(href='/admin/dashboard/edit-product/' + product.id + '/' + product.title) Edit
                    div.col-xs-12.col-md-8
                        a(href='/admin/dashboard/add-new-product').button.pink Add