@mixin breakpoint($breakpoint) {

    $xs: "(min-width: 0em) and (max-width: 48em)";
    $xs-sm: "(min-width: 0em) and (max-width: 62em)";
    $sm: "(min-width: 48.063em) and (max-width: 62em)";
    $md: "(min-width: 62.063em) and (max-width: 75em)";
    $lg: "(min-width: 75em)"; /* 1441px, 1920px */

    @if $breakpoint == xs {
        @media #{$xs} { @content; }
    }
    @else if $breakpoint == xs-sm {
        @media #{$xs-sm} { @content; }
    }
    @else if $breakpoint == sm {
        @media #{$sm} { @content; }
    }
    @else if $breakpoint == md {
        @media #{$md}  { @content; }
    }
    @else if $breakpoint == lg {
        @media #{$lg}  { @content; }
    }

}