doctype html
html
    head
        meta(name='viewport' content='width = device-width initial-scale = 1')
        title= title
        link(rel='stylesheet' href='/css/app.css')
        link(rel='icon' href='/img/favicon.ico')
        script(type='text/javascript' src='/js/vendor.min.js')
        script(type='text/javascript' src='/js/tinymce/tinymce.min.js')
        script(type='text/javascript' src='/js/app.min.js')
        
    body
        div.cover.brown
        include header
        block content
        include footer
