footer.brown
    div.row.middle-xs.container
        div.col-xs-6
            ul.row.middle-xs
                li Copyright 
                    span.fa.fa-copyright
                    span #[a(href='/') Jam Jar] 2017. Powered by #[a(href='/') Jam Jar]
        div.col-xs-6
            ul.row.end-xs.middle-xs
                if themeSettings.facebook
                li
                    a(href=themeSettings.facebook target='_blank')
                        span.fa.fa-facebook-official
                if themeSettings.twitter
                li
                    a(href=themeSettings.twitter target='_blank')
                        span.fa.fa-twitter