section.cta.contact.pink
    div.row.center-xs.container
        div.col-xs-12.col-md-8
            if themeSettings.ctaTitle2
                h1 #{themeSettings.ctaTitle2}
            if themeSettings.ctaSubtitle2
                h2 #{themeSettings.ctaSubtitle2}
            if themeSettings.ctaDescription2
                p #{themeSettings.ctaDescription2}
            a(href="/contact").button.brown Contact Us