header.row.center-xs.container
    div.col-xs-12.col-md-8
        h1 Dashboard
div.navigation
    nav.row.center-xs.container
        ul.col-xs-12.col-md-8
            if admin
                li
                    a(href='/admin/profile') Profile
                li    
                    a(href='/admin/products') Products
                li    
                    a(href='/admin/users') Users
                li    
                    a(href='/admin/orders') Orders
            else
                li
                    a(href='/user/profile') Profile
                li    
                    a(href='/user/orders') Orders