section.cta.contact.pink
    div.row.center-xs.container
        div.col-xs-12.col-md-8
            if themeSettings.ctaTitle3
                h1 #{themeSettings.ctaTitle3}
            if themeSettings.ctaSubtitle3
                h2 #{themeSettings.ctaSubtitle3}
            if themeSettings.ctaDescription3
                p #{themeSettings.ctaDescription3}
            a(href="/contact").button.brown Contact Us