section.mobile-nav.gold
    nav.row.container
        ul.col-xs-12.primary-nav
            li
                a(href='/about') About
            li    
                a(href='/products') Products
            li    
                a(href='/contact') Contact
            if access
                li    
                    a(href='/user/shopping-cart') Shopping Cart
                        span.fa.fa-shopping-cart
                li
                    a(href='/sign-out').button.pink Sign-Out
            else
                li
                    a(href='/sign-in').button.pink Sign-In