section.cta.register.gold
    div.row.center-xs.container
        div.col-xs-12.col-md-8
            if themeSettings.ctaTitle1
                h1 #{themeSettings.ctaTitle1}
            if themeSettings.ctaSubtitle1
                h2 #{themeSettings.ctaSubtitle1}
            if themeSettings.ctaDescription1
                p #{themeSettings.ctaDescription1}
            a(href="/sign-in").button.brown Register