section.search-field.pink
    div.row.container
        div.col-xs-12
            form(action='/search' method='post')
                input(type='search' name='search' placeholder='Search for keyword...')