extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.orders
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-4.details
                                        strong ID:
                                        span 6
                                    div.col-xs-12.col-sm-4.details
                                        strong Date:
                                        span 02/13/2017
                                    div.col-xs-12.col-sm-4.details
                                        strong Total:
                                        span $28.99
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-sm-4.image
                                img(src='/img/blueberry.jpg')
                            div.col-xs-12.col-sm-8
                                div.row
                                    div.col-xs-7.col-sm-12
                                        h3 Blueberry
                                        p Excerpt ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...
                                    div.col-xs-5.col-sm-12.product-details
                                        div.row
                                            div.col-xs-12.col-sm-4.details
                                                strong Price:
                                                span $29.99
                                            div.col-xs-12.col-sm-4.details
                                                strong Quantity:
                                                span 1
                                            div.col-xs-12.col-sm-4.details
                                                strong Total:
                                                span $29.99
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-3.details
                                        strong Sub-total:
                                        span $29.99
                                    div.col-xs-12.col-sm-3.details
                                        strong Tax:
                                        span $8.06
                                    div.col-xs-12.col-sm-3.details
                                        strong Shipping:
                                        span $10.00
                                    div.col-xs-12.col-sm-3.details
                                        strong Total:
                                        span $48.05