extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.products
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-sm-4.image
                                img(src='/img/blueberry.jpg')
                            div.col-xs-9.col-sm-6
                                h3 Blueberry
                                p Excerpt ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo...
                            div.col-xs-3.col-sm-2.right
                                a(href='/admin/edit-product/' + product.id + '/' + product.title) Edit
                    div.col-xs-12.col-md-8
                        span.flex.end
                                a(href='/admin/dashboard/add-product').button.pink Add