extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.products
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        a(href='/admin/dashboard/add-new-product').button.pink Add
                    div.col-xs-12.col-md-8
                        each product in productDetails
                            div.row.middle-xs.grey
                                div.col-sm-4.image
                                    img(src='/uploads/products/' + product.image)
                                div.col-xs-9.col-sm-6
                                    h3 #{product.title}
                                    p #{product.excerpt}
                                div.col-xs-3.col-sm-2.right
                                    a(href='/admin/dashboard/edit-product/' + product.id + '/' + product.title) Edit
                    div.col-xs-12.col-md-8
                        a(href='/admin/dashboard/add-new-product').button.pink Add